<h2>Register Form</h2>
<div style="display: grid; grid-template-columns: 50% auto; width: 500px">
  <div>
    <!--    <form [formGroup]="registerForm">-->
    <!--      Email:<br>-->
    <!--      <input type="text" formControlName="email"><br>-->
    <!--      <div class="alert alert-danger" role="alert"-->
    <!--           *ngIf=" registerForm.get('email').invalid && registerForm.get('email').touched">-->
    <!--        Invalid email!-->
    <!--      </div>-->
    <!--      <fieldset formGroupName="pwGroup" [formGroup]="pwGroup">-->
    <!--        Password<br>-->
    <!--        <input type="password" formControlName="password"><br>-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="pwGroup.get('password').invalid && pwGroup.get('password').touched"-->
    <!--        >-->
    <!--          Password must have 6 or more character!-->
    <!--        </div>-->
    <!--        Confirm Password<br>-->
    <!--        <input type="password" formControlName="confirmPassword"><br>-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) && pwGroup.get('confirmPassword').touched">-->
    <!--          Repeat password not match!-->
    <!--        </div>-->
    <!--      </fieldset>-->

    <!--      <fieldset formGroupName="profile" [formGroup]="profileGroup">-->
    <!--        Country:<br>-->
    <!--        <select formControlName="country">-->
    <!--          <option [ngValue]="null" disabled>Choose your country</option>-->
    <!--          <option *ngFor="let c of countries" [ngValue]='c'>{{c}}</option>-->
    <!--        </select><br>-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="profileGroup.get('country').invalid && profileGroup.get('country').touched">-->
    <!--          Country is required!-->
    <!--        </div>-->
    <!--        Age:<br>-->
    <!--        <input type="number" formControlName="age"><br>-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="profileGroup.get('age').invalid && profileGroup.get('age').touched">-->
    <!--          Age must be 18 or higher!-->
    <!--        </div>-->
    <!--        Gender:<br>-->
    <!--        <input type="radio" formControlName="gender" value="Male">Male-->
    <!--        <input type="radio" formControlName="gender" value="Female">Female-->
    <!--        <input type="radio" formControlName="gender" value="Another">Another-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="profileGroup.get('gender').invalid && profileGroup.get('gender').touched">-->
    <!--          Gender is required!-->
    <!--        </div>-->
    <!--        <br>-->
    <!--        Phone:<br>-->
    <!--        <input type="text" formControlName="phone">-->
    <!--        <div class="alert alert-danger" role="alert"-->
    <!--             *ngIf="profileGroup.get('phone').invalid && profileGroup.get('phone').touched">-->
    <!--          Illegal Format Phone Number!-->
    <!--        </div>-->
    <!--      </fieldset>-->

    <!--      <button (click)="submit()">Submit</button>-->
    <!--    </form>-->

    <form [formGroup]="loginForm">

      Email:<br>
      <input type="text" formControlName="email"><br>

      <div class="alert alert-danger" role="alert"
           *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').dirty"
      >
        Email invalid!
      </div>

      Password:<br>
      <input type="password" formControlName="password"><br>

      <div class="alert alert-danger" role="alert"
           *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && loginForm.get('password').dirty"
      >
        Password invalid!
      </div>

      <button>Login</button>

    </form>


  </div>
  <div>
    <pre style="float: right">{{registerForm.value | json}}</pre>
  </div>
</div>

